In [1]:
import numpy as np 
import pandas as pd

In [13]:
paises = ['brasil', 'brasil', 'eua', 'eua', 'eua']
periodo = ['1950-1955', '1955-1960', '1950-1955', '1955-1960', '1955-1960']
valor = [1.8, 2.2, 1.6, 1.7, 1.7]
df = pd.DataFrame(columns = ['paises', 'periodo', 'valor'])
df['paises']=paises
df['periodo']=periodo
df['valor']=valor
df

   paises    periodo  valor
0  brasil  1950-1955    1.8
1  brasil  1955-1960    2.2
2     eua  1950-1955    1.6
3     eua  1955-1960    1.7
4     eua  1955-1960    1.7

In [14]:
df.drop_duplicates()

   paises    periodo  valor
0  brasil  1950-1955    1.8
1  brasil  1955-1960    2.2
2     eua  1950-1955    1.6
3     eua  1955-1960    1.7

In [12]:
df.pivot(index='paises', columns='periodo', values=['valor'])

            valor
periodo 1950-1955 1955-1960
paises
brasil        1.8       2.2
eua           1.6       1.7